n8n_Automation_Blueprint.json
{
    "name": "SmartChoose Instagram AutoDM",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "process-comment",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "smartchoose-relay"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$node[\"Webhook\"].json[\"body\"][\"commentText\"].toLowerCase()}}",
                            "operation": "contains",
                            "value2": "link"
                        }
                    ]
                }
            },
            "name": "Check Keyword",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v19.0/{{$node[\"Webhook\"].json[\"body\"][\"rawPayload\"][\"entry\"][0][\"changes\"][0][\"value\"][\"id\"]}}/replies",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer IGAANZAm5yPP1lBZAFlRbnRVRVpGWU12di1JcF9iejZAhNl9YWlhYQ2lrZAHV2cUxOZAFR6cVNpdlowbm1uQTNQRC14Mzl0VWJJU1BnUmpfVVp0WndhVTcxa1NsbDdiWVJiNllLYTBlRllSenNlZAjFsZATlIaTBjTHVXbGxqdHUxdVZAscwZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "Hey! Sent you a DM with the product link 👇🏻 Check your DMs! 🚀"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Instagram Reply Comment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                160
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v19.0/17841442785403147/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer IGAANZAm5yPP1lBZAFlRbnRVRVpGWU12di1JcF9iejZAhNl9YWlhYQ2lrZAHV2cUxOZAFR6cVNpdlowbm1uQTNQRC14Mzl0VWJJU1BnUmpfVVp0WndhVTcxa1NsbDdiWVJiNllLYTBlRllSenNlZAjFsZATlIaTBjTHVXbGxqdHUxdVZAscwZDZD"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{$node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"userId\\\"]}}\"\n  },\n  \"message\": {\n    \"text\": \"Hey! 👋 Thanks for your interest!\\n\\nHere's the product link you asked for:\\n\\n🛍️ https://smartchoose-official.web.app\\n\\nBrowse all our curated deals and compare prices!\\n\\n- SmartChoose Team 💚\"\n  }\n}",
                "options": {}
            },
            "name": "Instagram Send DM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                420
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check Keyword",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Keyword": {
            "main": [
                [
                    {
                        "node": "Instagram Reply Comment",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Instagram Send DM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true
}