n8n_YouTube_Blueprint.json
{
    "name": "SmartChoose Auto-Publish YouTube Shorts",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "publish-youtube",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "smartchoose-youtube"
        },
        {
            "parameters": {
                "url": "={{$json[\"body\"][\"videoUrl\"]}}",
                "responseFormat": "file",
                "options": {}
            },
            "name": "Download Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "title": "={{$node[\"Webhook\"].json[\"body\"][\"title\"]}}",
                "description": "={{$node[\"Webhook\"].json[\"body\"][\"description\"]}}",
                "categoryId": "22",
                "privacyStatus": "public"
            },
            "name": "YouTube",
            "type": "n8n-nodes-base.youTube",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Download Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Video": {
            "main": [
                [
                    {
                        "node": "YouTube",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false
}