n8n_Blog_Automation_Universal_Groq_v4.json
{
  "name": "SmartChoose AI Blog Writer (Groq Bulletproof v4)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "hours": 9
            }
          ]
        }
      },
      "id": "7fa84d9f-028c-4861-848e-2e0617300abc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-ai-blog",
        "options": {}
      },
      "id": "2e3a5f6b-1c2d-4e5f-8a9b-0c1d2e3f4g5h",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 500],
      "webhookId": "manual-ai-blog"
    },
    {
      "parameters": {
        "url": "https://smartchoose-proxy.vercel.app/api/ai-blog-helper?action=get-unblogged",
        "options": {}
      },
      "id": "18f237bc-8a7e-4b72-9174-8d93c12a7d83",
      "name": "Fetch Unblogged Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const product = $json.product;\nconst prompt = `Write an engaging, SEO-friendly blog post review for this product:\\n${JSON.stringify(product)}\\n\\nReturn ONLY a plain JSON object with this exact structure (no markdown, no other text):\\n{\\n  \"title\": \"Catchy Blog Title\",\\n  \"slug\": \"url-safe-slug\",\\n  \"intro\": \"A 2-3 sentence hook for the intro.\",\\n  \"content\": \"A detailed 400-word review with paragraphs and bullet points.\",\\n  \"seoTitle\": \"SEO Title (max 60 chars)\",\\n  \"seoDescription\": \"SEO Meta Description (max 160 chars)\",\\n  \"category\": \"${product.category || 'Gadgets'}\",\\n  \"featuredImage\": \"${product.images[0]}\",\\n  \"products\": [{\\n    \"id\": \"${product.id}\",\\n    \"name\": \"${product.title}\",\\n    \"price\": \"${product.price}\",\\n    \"image\": \"${product.images[0]}\",\\n    \"description\": \"Brief summary.\",\\n    \"pros\": ${JSON.stringify(product.pros || [])},\\n    \"cons\": ${JSON.stringify(product.cons || [])},\\n    \"affiliateLink\": \"${product.affiliateLink || (product.affiliateLinks && product.affiliateLinks[0] ? product.affiliateLinks[0].url : '')}\",\\n    \"smartChooseId\": \"${product.id}\"\\n  }]\\n}`;\n\nreturn {\n  body: {\n    model: \"llama-3.1-70b-versatile\",\n    messages: [{ role: \"user\", content: prompt }],\n    temperature: 0.7\n  }\n};"
      },
      "id": "9a1b2c3d-e4f5-4a6b-8c7d-9e0f1a2b3c4d",
      "name": "Prepare Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {}
      },
      "id": "4b6c3e91-8d2a-4491-9c8a-beab06173de2",
      "name": "Groq AI Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "try {\n  const rawText = $json.choices[0].message.content;\n  const cleanJson = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n  return JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(\"Parsing AI Output Failed: \" + e.message);\n}"
      },
      "id": "5f3a6b1c-9d8e-4a2b-b1c2-d3e4f5g6h7i8",
      "name": "Extract & Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smartchoose-proxy.vercel.app/api/ai-blog-helper?action=create-post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "3c9d81e7-6b2f-4a01-9c8a-deac09173fb1",
      "name": "Post to SmartChoose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unblogged Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unblogged Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unblogged Product": {
      "main": [
        [
          {
            "node": "Prepare Groq Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Groq Request": {
      "main": [
        [
          {
            "node": "Groq AI Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Generation": {
      "main": [
        [
          {
            "node": "Extract & Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Parse AI JSON": {
      "main": [
        [
          {
            "node": "Post to SmartChoose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
